/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family:"helvetica";
}

header nav {
  position: fixed;
  font-weight: bold;
  top: 0;
  background-color: white;
  width: 100%;
}


nav {
  text-align: center;
}

nav ul {
  display: inline-flex;
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

ul li {
/* padding: 0 5vw; */
margin: 0;
}

header nav form {
  background-color: black;
  color: white;
}

header nav form a{
  position: absolute;
  left: 1em;
  top: 1em;
  padding: auto;
}

header nav form ul {
  margin-top: 10em;
  display: block;
}

header nav form ul li{
  padding: 0.8em;
}

header nav form ul:last-of-type{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header nav form p {
  display: inline-block;
}

header nav form p:last-of-type {
  padding: 10em 0 0 0;
  margin-bottom: 0;
}

header nav form ul img {
  /* width: 5.5vw;
  height: 5.5vw; */
  text-align: center;
  color: white;
  margin: 0;
}


a {
  text-decoration: none;
  color: black;
}

main article {
  border-bottom: solid black 1px;
}

section img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

article img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 0 1.5em;
  margin: 0;
  height: 230vh;
}

footer nav ul {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

footer nav {
  padding: 2em 0;
}

footer nav ul li a {
  color: white;
  font-weight: bold;
}

#vaporwaffle {
  width: 100%;
}

main {
width: 95vw;
margin: auto;
/* padding: 0 1em; */
margin-top: 4em;
overflow: hidden;
}

main section img {
  width: 100%;
  height: auto;
}

footer p {
  color: #8c8c8c;
  font-size: 14px;
}

footer li {
  font-size: 14px;
  text-align: center;
}

footer section {
  border: solid 1px  #8c8c8c;
  border-bottom: hidden;
  border-left: hidden;
  border-right: hidden;

}

#highsnobiety {
  border: solid 2px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  width: auto;
}

#hamburger {
position: absolute;
left: 1em;
cursor: pointer;
position: absolute;
}

#shop {
  position: absolute;
  right: 1em;
  font-size: 0.8em;
}

button {
  background: black;
  color: white;
  border: solid black;
  width: 100%;
  padding: 1em;
  font-size: 2.4vw;
}

.sacai {
  border: solid white 1px;
}

main section div {
  border-bottom: black solid 1px;
}

/* hr {
  border: 1px solid;
} */

.tags a {
  border: solid black 0.10em;
  border-radius: 5vw;
  padding: 3vw;
  border-color: #8c8c8c;
  font-size: 3vw;
}

.tags ul li {
  list-style: none;
  display: inline;
}

.tags {
  margin-left: -2.5em;
  padding: 4vw 0;
}

#copyright {
  color: white;
  text-align: center;
}

.links {
  color: white;
  list-style: none;
  display: inline;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li a {
  color: white;
  font-size: 14px;
}


.links li {
  display: inline;
  padding: 3vw;
  text-align: center;
}

.links li a {
  font-size: 3vw;
  text-align: center;
}

ul.links {
  margin: 0;
  padding: 0;
}


.home img {
  height: auto;
  width: 100%;
}

button {
  margin: 2em 0;
}

#stockx {
  font-size: 3vw;
}

.homearticle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.homearticle section {
  /* width: 35%; */
}

.homearticle h4 {
  font-size: 3vw;
}

.homearticle p {
  font-size: 2vw;
}

.foto {
  width: 40%;
}

.tekst {
  width: 60%;
  padding-left: 7vw;
}

#socials {
  display: flex;
  padding: 7vh 0 0 0;
  margin: 0;
}

#socials li {
  list-style: none;
  flex-grow: 1;
  margin: 0;
}

/* footer form hr {
  margin: 0 0 10vh 0;
  margin-top: 0;
  padding: 0;
} */


footer nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 footer nav ul li a {
   padding-top: 4vh;
 }

 #plus {
   color: white;
   font-size: 5vw;
 }

 select {
   display: block;
   margin-bottom: 2em;
   color: white;
   background-color: black;
   border: solid 1px black;
   border-bottom: solid 1px white;
   width: 100%;
   font-size: 17px;
 }

 footer h6 {
   color: #cccccc;
   margin: 0;
   padding-left: 5px;
   font-weight: lighter;
   padding-bottom: 3px;
 }

 .slider {
   display: flex;
   flex-wrap: nowrap;
   overflow-x: scroll;
 }

  .slider img {
    width: 241.25px;
    height: 301.39px;
  }

  .slider article {
    padding-right: 1em;
  }

form {
  background-color: black;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translate(-100%);
}

form a {
  color: white;
}

form.toonmenu {
  transform: translate(0%);
}

section article {
  border-bottom: solid black 1px;
}

main>section:last-of-type{
  border-top: solid black 1px;
}

main section article {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
}

main>section:last-of-type h3 {
  margin-top: 2vw;
  font-size: 4.266vw;
  width: 100%;
}

main div img{
  width: 375px;
  height: 225px;
}

main article div img {
  width: 37.149vw;
  height: 24.288vw;
}

main section article div:nth-of-type(2) {
  width: 50vw;
  margin-left: 1em;
}

main section article div h4{
  margin: 0;
  font-size: 4.266vw;
}

main section article div p{
  font-size: 2.4vw;
}

.slider1 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100vw;
  height: 60vw;
  margin: 0;
  padding: 0;
}

.foto1 {
  /* overflow: hidden; */
}

div input{
  position: absolute;
}

@media(min-width: 640px) {
  .home img {
    height: auto;
    width: 45.105vw;
    margin: 0;
  }
  main div:first-of-type {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  main div article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  main section article div:first-child {
    width: 40%;
  }


  main article:first-child {
    width: 45.105vw;
  }

  footer p {
    font-size: 12px;
  }

  button {
    width: 205px;
    height: 45px;
  }

}

@media(min-width: 1024px) {
main section article:last-of-type {
  width: 61.624;
  height: 15.504vw;
}
}
